body {
  background-color: rgb(50 80 133);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* body {
  background-image: linear-gradient(to right, #6fc3f7, #1813a2);
} */
nav {
  z-index: 2;
}
h2, h3 {
  font-family: "Poppins", sans-serif;
}
nav:hover {
  background-color: #162d56;
  color: black;
}
.whatsapp {
  position: fixed;
  float: left;
}
#logo {
  border-color: #439efc;
  padding-top: 10px;
}
#logo-img {
  height: 65px;
  width: 140px;
}
.max-width {
  max-width: 100%;
}
.nav-height {
  height: 82px;
}
.nav-item {
  padding-left: 45px;
}
.nav-link:hover {
  border-bottom: 1px solid;
  padding-top: 10px;
}
.bg-screen-trabajos {
  display: none;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  min-width: 26vw;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
  margin-left: -6.5vw;
  z-index: 1;
  text-align: center;
  padding: 0;
}

.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 2px;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-item:hover {
  background-image: linear-gradient(to top right, #439efc, #c41a91, #ffe950);
  color: white;
  /* filter: drop-shadow(2px 2px 2px black); */
}

.border-nav {
  border-bottom: 3px solid beige;
}
.nav-dropdown {
  border-color: #c41a91;
  letter-spacing: 3px;
}
.fb-inst {
  border-color: #ffe950;
  padding-right: 52px;
}
#main-nav {
  padding: 0;
}
#carousel-main {
  height: 670px;
}

.carousel-img {
  max-height: 670px;
  filter: brightness(0.8);
  height: 126%;
}
.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  width: 140px;
  top: 350px;
  height: 0;
}

.btn-carousel {
  background-color: rgb(241, 220, 31);
  padding-left: 20px;
  padding-right: 20px;
  font-family: sans-serif;
  border-radius: 20px;
  filter: drop-shadow(1px 2px 3px black);
}
#hr {
  color: rgb(1 167 231);
  height: 3px !important;
  margin-top: 91px;
}

.bg-none {
  background: none;
}
.slide-text-left {
  width: 20vw;
  height: 61%;
  letter-spacing: 3px;
}
.slide-text-right {
  height: 61%;
  width: 19vw;
  position: absolute;
  letter-spacing: 3px;
  left: auto;
}
.height-50 {
  height: 51%;
}
.pb-inherit {
  padding-bottom: inherit;
}
#carousel-small-screen {
  display: none;
}
/* termina big-screen carousel */

/* termina carousel */

#bienvenidos {
  width: auto;
  border-radius: 5px;
  border: 2px solid #db0383;
}
#nosotros {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.nosotros-p {
  font-size: 14px;
  line-height: 22px;
}
#camioneta-img {
  max-width: -webkit-fill-available;
  border-radius: 2px;
}

/* termina nosotros */

.page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  margin: 0 205px;
  place-items: center;
  justify-content: center;
}
.card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1);
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
  filter: brightness(0.6);
}
.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}
.card:nth-child(1):before {
  background-image: url(../img/corporeos\ iluminados.jpg);
}

.card:nth-child(2):before {
  background-image: url(../img/fachada.jpg);
}

.card:nth-child(3):before {
  background-image: url(../img/vehicular.jpg);
}

.card:nth-child(4):before {
  background-image: url(../img/verduleria.jpg);
}

.card:nth-child(5):before {
  background-image: url(../img/vinilos.jpg);
}

.card:nth-child(6):before {
  background-image: url(../img/maxima.jpg);
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 3rem 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.des {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  line-height: 1.35;
}

.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  background-color: rgb(251, 255, 4);
  border: none;
}

.btn:hover {
  color: #fff;
  background-image: linear-gradient(to top, #ff00e0, transparent);
  transition: transform var(--d) var(--e), opacity var(--d) var(--e);
}

/* .content {
  transform: translateY(calc(100% - 4.5rem));
}

.content > * {
  opacity: 0;
  transform: translateY(1rem);
  transition: transform var(--d) var(--e), opacity var(--d) var(--e);
}

.card:hover {
  align-items: center;
}

.card:hover:before {
  filter: brightness(0.3);
}

.card:hover:after {
  transform: translateY(-50%);
}

.card:hover .content {
  transform: translateY(0);
}

.card:hover .content > * {
  opacity: 1;
  transform: translateY(0);
  transition-delay: calc(var(--d) / 8);
} */



/* termina servicios */

.mt-100 {
  margin-top: 100px;
}
#info-nosotros {
  height: 40vh;
    display: grid;
    align-items: center;
}
.map {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  place-content: center;
}


#clientes {
  margin-top: 100px;
  margin-bottom: -12px;
}
.customer-logos {
  background-color: #fff;
  margin-top: 50px;
  height: 131px;
}

#la-floreria-logo {
  width: 188px;
  height: 177px;
  padding-bottom: 28px;
}
/* Slider */
.slick-slide {
  margin: 0px 10px;
}

.slick-slide img {
  width: 100%;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;

  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
  width: 122px;
  height: 119px;
  padding: 10px 0;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;

  height: auto;

  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
/* termina clientes */


#contacto {
  max-width: 100%;
}
#info {
  margin-top: 42px;
}
#info p {
  margin-top: 40px;
  line-height: 29px;
}
label {
  display: grid;
  place-content: baseline;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: inherit;
  width: inherit;
}
.mapouter {
  position: relative;
  text-align: right;
  height: 500px;
}
/* termina contacto */

#footer {
  height: 10vh;
  color: white;
  align-items: center;
}


@media (max-width: 600px) {
  p {
    font-size: 12px;
  }
  .btn {
    font-size: 9.5px;
  }
  .dropdown-menu a {
    padding: 8px 16px;
  }
  .bg-screen-trabajos {
    display: none;
  }
  #carousel-big-screen {
    display: none;
  }
  #carousel-small-screen {
    display: block;
    height: 300px;
  }
  #carousel-main {
    height: max-content;
  }
  .carousel-images {
    height: 365px;
  }
  .carousel-caption {
    padding-bottom: 3.25rem;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    width: unset;
    height: unset;
    top: unset;
  }
  #bienvenidos {
    margin: 26px 30px;
  }
  #nosotros {
    margin: 50px 0;
  }
  #nosotros-p {
    padding: 5vw;
    margin: auto;
  }
  #logo {
    width: 127px;
  }
  .fb-inst {
    padding: 0;
    border: none;
  }
  #logo {
    border: none;
  }
  #logo-img {
    padding-right: 11px;
  }
  #main-nav {
    padding-left: 10px;
    padding-right: 12px;
    background-color: #325085;
  }
  .nav-dropdown {
    border: none;
    letter-spacing: 1px;
  }

  #contacto {
    font-size: 12px;
  }
  .form-control {
    font-size: inherit;
  }

  #mt-clientes {
    margin-top: 315px;
  }
  .page-content {
    margin: 0;
  }

  iframe {
    padding-top: 62px;
    width: 300px;
    height: 400px;
  }

  .container-gallery {
    height: 54vh !important;
  }
  .box-gallery {
    box-shadow: none !important;
    height: 88vh;
  }
  .box-gallery > img {
    height: calc(70% - 10vh) !important;
  }
  .box-gallery:visited { flex: 20 1 50% !important; }
  .box-gallery:visited > img {
  height: 70% !important;
}

  #sm-screen-wp {
    display: none;
  }
  .dpvbQR, .geFClS {
    height: 50px !important;
    width: 50px !important;
    margin-right: 7px !important;
    margin-bottom: 30px !important;
  }

}

@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
  .card {
    height: 250px;
    width: 350px;
    border-radius: 5px;
  }
  #bienvenidos {
    margin: 100px;
  }
  #nosotros {
    margin: 25px 0;
  }
  
}
@media (min-width: 1100px) {
  .page-content {
    grid-template-columns: repeat(3, 1fr);
  }
  .bg-screen-trabajos {
    display: block;
  }
  .sm-screen-trabajos {
    display: none;
  }
}

/* galeria de fotos big-screen */

.titulo {
  margin-top: 2vh;
}
.container-gallery {
  display: flex;
  width: 100%;
  padding: 4% 2%;
  box-sizing: border-box;
  height: 100vh;
}

.box-gallery {
  flex: 1;
  overflow: hidden;
  transition: .5s;
  margin: 0 2%;
  box-shadow: 0 20px 30px rgba(0,0,0,.1);
  line-height: 0;
}

.box-gallery > img {
  width: 200%;
  height: calc(100% - 10vh);
  object-fit: cover; 
  transition: .5s;
}


.box-gallery:hover { flex: 1 1 50%; }
.box-gallery:hover > img {
  width: 100%;
  height: 100%;
}


